*{
    margin:0;
    padding:0;
}
#bg{
    height:280px;
    width:780px;
    background-color:powderblue;
    margin:145px auto;
}
#title{
    /*border:1px solid black;*/
    display:inline-block;
    height:48px;
    width:174px;
    font-size:29px;
    line-height:48px;
    color:#555;
    margin-top:40px;
    margin-left:80px;
    margin-bottom:5px;
}
#btn1{
    /*border:1px solid black;*/
    display:inline-block;
    height:41px;
    width:80px;
    font-size:24px;
    line-height:40px;
    text-align: center;
    color:#666;
    margin-top:18px;
    margin-left:500px;
    background-color: #fffe5c;
    cursor:pointer;
}
#btn2{
    display:inline-block;
    height:41px;
    width:80px;
    font-size:24px;
    line-height:40px;
    text-align: center;
    color:#666;
    margin-top:18px;
    margin-left:20px;
    background-color: #fffe5c;
    cursor:pointer;
}
#rst{
    /*border:1px solid black;*/
    height:60px;
    width:600px;
    font-size:26px;
    line-height:60px;
    margin-top:15px;
    margin-left:90px;
    letter-spacing:1.5px;
    color: #444;
    border-bottom: 0.5px solid black;
    display:inline-block;
}